# Віртуальне оточення
venv/
env/

# Системні файли Python
__pycache__/
*.pyc

# Змінні оточення (паролі, токени)
.env

# Локальні бази даних SQLite (якщо залишилися від колег)
*.db
*.sqlite3

# Системні файли ОС
.DS_Store
Thumbs.db